# windows
*.exe

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#cmake
*.rule
*.cmake
*.stamp
*.depend
*.bin

#visual studio
*.vcxproj
*.obj
*.tlog
*.lastbuildstate
*.sln
*.log
*.cd
*.cache
*.filters
*.opensdf
*.user
*.suo
*.sdf
