# windows
*.exe

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#cmake
*.rule
*.stamp
*.depend
*.bin
*.list
*.check_cache
*.ilk
TargetDirectories.txt
CMakeCXXCompilerId.cpp
CMakeCache.txt
cmake_install.cmake

#visual studio
*.vcxproj
*.obj
*.tlog
*.lastbuildstate
*.sln
*.log
*.cd
*.cache
*.filters
*.opensdf
*.user
*.suo
*.sdf
*.pdb
*.cxx

#other
stats.txt
